<h1>Login to access your gift Guides</h1>
<%
=begin%>
 <p>Find me in app/views/sessions/new.html.erb</p> 
<%
=end%>

<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit 'Log in', class: 'btn btn-primary' %>
<% end %>
<div class="spacer">
<p>Don't have an account? You can sign-up by clicking on the button below:<p>
<button>
      <%= link_to "Sign-up", new_user_path, class:'nav-link'%>
</button> 
<div>