<div id="<%= dom_id gift_guide %>">
  <p>
    <strong>Recipient name:</strong>
    <%= gift_guide.recipient_name %>
  </p>

  <p>
    <strong>Gift name:</strong>
    <%= gift_guide.gift_name %>
  </p>

  <p>
    <strong>Gift link:</strong>
    <%= gift_guide.gift_link %>
  </p>

  <p>
    <strong>Gift image:</strong>
    <%= gift_guide.gift_image %>
  </p>

</div>
