<div id="<%= dom_id public_gift %>">
<div class="card-body">
  <p>
    <strong>Recipient:</strong>
    <%= public_gift.recipient %>
  </p>

  <p>
    <strong>Gift:</strong>
    <%= public_gift.gift_name %>
  </p>

  <p>
    <strong>Gift link:</strong>
    <%= link_to "Go to Store", public_gift.gift_link %>
  </p>

  <p>
    <%= image_tag public_gift.gift_image, alt: 'Gift Image', style: 'width: 20vw;' %>
  </p>
</div>

</div>
