<div id="<%= dom_id public_gift %>">
  <p>
    <strong>Recipient:</strong>
    <%= public_gift.recipient %>
  </p>

  <p>
    <strong>Gift name:</strong>
    <%= public_gift.gift_name %>
  </p>

  <p>
    <strong>Gift link:</strong>
    <%= public_gift.gift_link %>
  </p>

  <p>
    <strong>Gift image:</strong>
    <%= public_gift.gift_image %>
  </p>

</div>
