<div id="<%= dom_id album %>">
  <p>
    <strong>Album Name:</strong>
    <%= album.album_name %>
  </p>

  <p>
    <strong>Released:</strong>
    <%= album.album_year %>
  </p>

  
  <p>
    <strong>Spotify:</strong>
    <%= album.spotify %>
  </p> 


  <p>
    <strong>Album description:</strong>
    <%= album.album_description %>
  </p>

</div>
