<div id="<%= dom_id discography %>">
  <p>
    <strong>Album name:</strong>
    <%= discography.album_name %>
  </p>

  <p>
    <strong>Artist name:</strong>
    <%= discography.artist_name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= discography.string %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= discography.year %>
  </p>

</div>
