<%= form_with(model: discography) do |form| %>
  <% if discography.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(discography.errors.count, "error") %> prohibited this discography from being saved:</h2>

      <ul>
        <% discography.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :album_name, style: "display: block" %>
    <%= form.text_field :album_name %>
  </div>

  <div>
    <%= form.label :artist_name, style: "display: block" %>
    <%= form.text_field :artist_name %>
  </div>

  <div>
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.text_field :year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
