<div id="<%= dom_id music %>">
  <p>
    <strong>Album name:</strong>
    <%= music.album_name %>
  </p>

  <p>
    <strong>Album type:</strong>
    <%= music.album_type %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= music.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= music.description %>
  </p>

</div>
